@media (min-width: 768px) {

    .article-title {
        font-size: 45px;
    }

    .article-content {
        font-size: 22px;
    }
}

@media (min-width: 968px) {

    .article-title {
        font-size: 60px;
    }

    .article-content {
        font-size: 24px;
    }
}